Repository kubernetes/kube-state-metrics, pull requests merged in 2023-09, with the labels that each got.

#2182 chore: Bump to kubernetes 1.28
  README.md
  go.mod
  go.sum
  tests/e2e.sh
Labels: cncf-cla: yes, lgtm, size/L, approved, needs-triage

#2183 chore: Build with go 1.21
  .github/workflows/ci.yml
  .github/workflows/govulncheck.yml
  Dockerfile
  Makefile
Labels: cncf-cla: yes, lgtm, size/XS, approved, needs-triage

#2190 fix: Remove FieldSelector from non-namespaced resources
  internal/store/certificatesigningrequest.go
  internal/store/clusterrole.go
  internal/store/clusterrolebinding.go
  internal/store/ingressclass.go
  internal/store/mutatingwebhookconfiguration.go
  internal/store/namespace.go
  internal/store/node.go
  internal/store/persistentvolume.go
  internal/store/storageclass.go
  internal/store/validatingwebhookconfiguration.go
Labels: cncf-cla: yes, lgtm, size/M, approved, needs-triage

#2192 chore: Cut `v2.10.1`
  CHANGELOG.md
  Makefile
  README.md
  VERSION
  examples/autosharding/cluster-role-binding.yaml
  examples/autosharding/cluster-role.yaml
  examples/autosharding/role-binding.yaml
  examples/autosharding/role.yaml
  examples/autosharding/service-account.yaml
  examples/autosharding/service.yaml
  examples/autosharding/statefulset.yaml
  examples/daemonsetsharding/cluster-role-binding.yaml
  examples/daemonsetsharding/cluster-role.yaml
  examples/daemonsetsharding/daemonset-service.yaml
  examples/daemonsetsharding/daemonset.yaml
  examples/daemonsetsharding/deployment-service.yaml
  examples/daemonsetsharding/deployment.yaml
  examples/daemonsetsharding/service-account.yaml
  examples/standard/cluster-role-binding.yaml
  examples/standard/cluster-role.yaml
  examples/standard/deployment.yaml
  examples/standard/service-account.yaml
  examples/standard/service.yaml
  internal/store/certificatesigningrequest.go
  internal/store/clusterrole.go
  internal/store/clusterrolebinding.go
  internal/store/ingressclass.go
  internal/store/mutatingwebhookconfiguration.go
  internal/store/namespace.go
  internal/store/node.go
  internal/store/persistentvolume.go
  internal/store/storageclass.go
  internal/store/validatingwebhookconfiguration.go
Labels: cncf-cla: yes, lgtm, size/L, approved, needs-triage
